.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(216, 216, 216);
  min-height: 220px;
  padding: 20px;
  color: white;
}

.menu{
  display: flex;
  justify-content: center;
}
.menu span{
  margin: 0 5px;
  cursor: pointer;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.active{
  color: #1f6faf;
}